# archive folders
arch/assets/
arch/notes/
arch/plots/
arch/prints/
arch/source/                                                                            │

# data folders
data/

# R package
src/Rpacks/

# deprecated scripts
src/deprecated/

# Go executables
src/GoWorkshop/excalibur/
